---
import Container from "./Container.astro";
---

<Container>
  <div class="border-b border-slate-900/10 px-4 py-4 dark:border-slate-300/10">
    <div class="flex w-full justify-between">
      <a class="inline-block" href="/">HOME</a>
      <nav class="flex">MENU</nav>
    </div>
  </div>
</Container>
