name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allows you to trigger it manually from the Actions tab
    inputs:
      tags:
        description: "Tags to push (optional)"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU (Emulation support)
        uses: docker/setup-qemu-action@v2
        # This is required to build ARM images on an AMD64 runner

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Convert repository name to lowercase
        run: echo "REPO=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          # This enables multi-arch builds
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ env.REPO }}:latest

      - name: Tag image with version and push (if tag event)
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ env.REPO }}:latest,ghcr.io/${{ env.REPO }}:${{ github.ref_name }}
